@import "tailwindcss";

:root {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  background-image: 
    radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.08) 0%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(circle at 85% 30%, rgba(168, 85, 247, 0.08) 0%, rgba(0, 0, 0, 0) 50%);
  background-attachment: fixed;
}

.bg-grid-white\/\[0\.02\] {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}
